@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Producers</h2>
        @{Html.RenderAction("GetProducers");}
    </div>
    <div class="col-md-6">
        <h2>Products</h2>
        @{Html.RenderAction("GetProducts");}
    </div>
</div>