@model CountryFood.Models.Frequency

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.EnumDropDownListFor(m => m, new { @class = "form-control" })
        @if (ViewData.ModelMetadata.IsRequired)
        {
            @Html.ValidationMessageFor(m => m)
        }
    </div>
</div>