@model ICollection<CountryFood.Web.ViewModels.ProducerViewModel>
<h3>Producers</h3>
@foreach (var producer in Model)
{
    <div class="row">
        <a href="">@producer.Name</a>
        <p>@producer.Description</p>
    </div>
}
